// Main Content Wrapper
.site-wrap {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    background: $background;
    z-index: 10;
    margin: 0;
    padding: 0;
}

// Content
.welcome {

    background: $dark-blue;
    padding: 80px 0 80px 0;
    position: relative;

    .circle {
    	border-radius: 50%;
    	-webkit-border-radius: 50%;
    	-moz-border-radius: 50%;
    	margin: 0;
    	width: 200px;
        height: 200px;
    }
    
    .thick-border {
        border: 3px solid $text-color-alt;
        margin: 3px;
    }
    
    .head-shot {
        margin: 20px 0;
        
    }
    
    .welcome-message {
        display: inline-block;
        padding: 20px 0px;
        color: $text-color-alt;
        font-family: 'Raleway', sans-serif;
        font-size: 170%;
    }
    
    .page-heading {
        font-family: "Pacifico", "Open Sans", cursive;
        color: $text-color-alt;
        font-size: 320%;
    }
    
    @include media-query($tablet) {
        .welcome-message {
            font-size: 150%;
        }
        
        .page-heading {
            font-family: "Pacifico", "Open Sans", cursive;
            font-size: 250%;
        }
    }
    
    @include media-query($phone) {
        .welcome-message {
            font-size: 115%;
        }
        
        .page-heading {
            font-family: "Pacifico", "Open Sans", cursive;
            font-size: 200%;
        }
        
        .circle {
            width: 170px;
            height: 170px;
        }
    }
}

.proficiencies {
    margin: 0;
    background: $blue;
    color: $dark-blue;
    padding: 50px 100px;

    .charts {
        text-align: center;
    }
    
    .percent-label {
        font-family: 'Raleway', sans-serif;
        font-size: 200%;
        font-weight: 800;
        fill: $dark-blue;
        padding: 0;
        margin: 0;
    }
    
    .skill-chart {
        width: 200px;
        display: inline;
        margin: 20px 5px 20px 5px;
    }
    
    .skill-header {
        fill: $dark-blue;
        font-family: 'Raleway', sans-serif;
        font-size: 150%;
        font-weight: 400;
    }
    
    .show-all-charts {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    @include media-query($tablet) {
        padding: 80px 20px;
    }
    
    @include media-query($phone) {
        padding: 70px 20px;
    }
    
    .pure-button {
        background: $dark-blue;
        color: $text-color-alt;
    }
    
    .pure-button:hover {
        text-decoration: none;
    }
    
    .pure-button.active {
        background: lighten($dark-blue, 15%);
    }
    
    .prof-buttons {
        margin: 50px 0;
        text-align: right;

        @include media-query($desktop) {
            text-align: left;
            width: 100%;
            margin: 0 0 50px 0;
        }
        
        @include media-query($tablet) {
            display: none;
        }
    }
}